 /* COMMON */
 html{
    font-family: Arial, Helvetica, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.cols {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.cols-3 {
    width: 33.33333%;
}

.cols-2 {
    width: 33.33333%;
}

.cols-full {
    width: 100%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-in4 {
    font-size: 18px;
    line-height: 1.4;
}

.contact-in4 i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background-color: black;
    color: white;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    outline: none;
    cursor: pointer;
}

/* MAIN */
/* HEADER */
#header {
    z-index: 1;
    background-color: rgb(24, 22, 22);
    height: 50px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav .sub-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 60px;
    top: 100%;
}

#nav .sub-nav a {
    color: black;
    padding: 0 35px;
}

#nav>li>a {
    color: rgb(247, 248, 248);
    text-transform: uppercase;
}

#nav li a {
    line-height: 50.5px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 0 30px;
}

#nav .sub-nav li {
    display: block;
}

#nav>li:hover .sub-nav {
    display: block;
}

#nav .sub-nav li:hover a,
#nav>li:hover>a {
    background-color: rgb(139, 134, 134);
    color: black;
    display: block;
}

.fa-search {
    font-size: 14px;
    color: white;
}

.search-icon {
    float: left;
}

#footer {
    height: 1000px;
    width: 100%;
    background-color: #fff;
}

.search-btn {
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    padding: 17px 24px;
}

.search-btn:hover {
    background-color: red;
    cursor: pointer;
}

.search-icon {
    color: white;
}

/* HEADER */
/* SLIDER */
#slider {
    position: relative;
    padding-top: 50%;
    background-image: url("/asseets/img/chicago.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slider #text-content {
    position: absolute;
    bottom: 80px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#content .section-heading {
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
    color: white;
}

#content .section-sub-heading {
    font-size: 15px;
    opacity: 0.6;
    font-family: "Lato", sans-serif;
    font-style: italic;
    line-height: 1.5;
    margin: 15px 0;
    color: azure;
}

#content .about-text {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    margin: 15px 0px;
    line-height: 1.5;
    font-size: 14.5px;
    text-align: justify;
}

#content .member--item {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100%/3);
    margin-right: -3px;
}

#content .member--list {
    text-emphasis: center;
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: hidden;

}

#content .member-img {
    width: 160px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .member-name {
    font-size: 16px;
}

/* TOUR  */
/* Tour section */
.tour-section {
    background-color: black;
    padding: 20px;
}

.content-section {
    color: white;
}

ul.ticket-list {
    background-color: white;
    list-style-type: none;
    margin-top: 40px;
}

ul.ticket-list li {
    color: black;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 1.5;
}

ul.ticket-list .sold-out {
    margin-left: 18px;
    background-color: #f44336 !important;
    color: white;
    padding: 4px 10px;
    font-size: 15px;
}

ul.ticket-list .quality {
    background-color: black;
    color: white;
    border-radius: 50%;
    float: right;
    height: 24px;
    width: 24px;
    text-align: center;
}

.place-list {
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
}

.place-item {
    float: left;
    width: 33.333333%;
    padding: 0px 8px;
    margin: 0px;
    text-align: left;
}

.img-place {
    width: 100%;
    display: block;
}

.img-place:hover {
    opacity: 0.6;
}

.place-item .place-body {
    color: black;
    background-color: white;
    padding: 0px 16px;
}

h3.place-heading {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    padding: 15px 0px;
    font-family: "Lato", sans-serif;
}

.place-time {
    margin: 15px 0px;
    font-size: 15px;
    line-height: 1.5px;
    font-family: "Lato", sans-serif;
    opacity: 0.6;
}

.place-desc {
    margin: 15px 0px;
    font-size: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 8px 14px;
    display: inline-block;
    margin-bottom: 14px;
    border-radius: 4px;

}

.place-buy-btn:hover {
    background-color: #ccc;
    color: black;
}

#img-section {
    background-image: url("/asseets/img/map.jpg");
    background-size: cover;
    height: 800px;
    filter: grayscale(50%);
}

#allabout {
    height: 220px;
    position: relative;
}

.icons {
    font-size: 22px;
    color: rgba(75, 71, 71, 0.781);
}
.icons:hover{
    opacity: 0.6;
}
.align-icons{
    position:absolute;
    top:36%;
    left:46%;   
}
.social-icon{
    margin-bottom: 20px;
}
#engine-desc{
    opacity: 0.6;
}
a{
    color: grey;
}
